.form {
    text-align: center;
    align-items: center;

 &__input{
  width: 300px;
  height: 40px;
  background-color: black;
  color: rgb(22, 79, 4);
  border: none;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 50px;
  font-size: 20px;
 }

 &__input:hover{
     background-color: aliceblue;
 }
}