.form {

 &__input{
  width: 400px;
  height: 40px;
  background-color: black;
  color: rgb(22, 79, 4);
  border: none;
  border-radius: 15px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 20px;
 }

 &__input:hover{
     background-color: aliceblue;
 }
}