.card{
    text-align: center;
    align-items: center;
    border: solid 5px black;
    margin: 5px;
    border-radius: 15px;
    margin: 20px;
    
    &__image{
        width: 180px;
        margin-top: 10px;
        border-radius: 15px;
        margin-top:5px ;
        padding: 20px;
    }
    &__title{
        font-family:fantasy;
        font-size: 20px;
    }
    &__description{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: oblique;
    }
    &__year{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

.card:hover{
    background-color: black;
    color: aliceblue;
}